

.title{
    /* font-size: 20px !important; */
    font-weight: 400 !important;
}

.text{
    display: block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.img{
    height: 250px !important ;
    /* width: 400px !important ; */
}


.img-checkout{
    height: 100px !important;
    width: 150px !important;
}